@model IEnumerable<QuizApp.ViewModel.Managing.TestingUrlViewModel>

@{
    ViewBag.Title = "TestingUrlManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestingUrlManagement</h2>

<table class="table btn-dark table-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interviewee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowedStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRuns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interviewee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowedStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowedEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRuns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guid)
        </td>
        
    </tr>
}

</table>
